:root {
  --bg1: #c9d6ff;
  --bg2: #e2e2e2;
}

* { box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Trebuchet MS", "Gill Sans", sans-serif;
  background: linear-gradient(180deg, var(--bg1), var(--bg2));
  overflow: hidden;
}

#game {
  display: block;
  width: 100vw;
  height: 100vh;
}
